
.btn {
    display: inline-block;
    font-weight: @btn-font-weight;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    transition: background-color 0.1s ease-in-out;
    .button-size(@padding-base-vertical;@padding-base-horizantala;@font-size-base;@line-height-base;@btn-border-radius-base);
    .user-select(none);
    // 激活焦点
    &,
    &:active,
    &.active {
        &:focus,
        &.focus {
            .tab-focus();    // 设置虚线边框
        }
    }
    // 按钮焦点
    &:hover,
    &:focus,
    &.focus {
        color: @btn-default-color;
        text-decoration: none;
    }
    // 按下
    &:active,
    &.active {

    }
    // 禁用
    &.disabled,
    &[disabled],
    fieldset[disabled] & {
        cursor: @cursor-disabled;
        .opacity(.65);
        .box-shadow(none);
    }
    a& {
        &.disabled,
        fieldset[disabled] & {
            pointer-events: none; // Future-proof disabling of clicks on `<a>` elements
        }
    }
}
// 一些通用按钮
.btn-default {
    .button-variant(@btn-default-color;@btn-default-bg;@btn-default-border);
}
// 常用天蓝色样式
.btn-primary {
  .button-variant(@btn-primary-color; @btn-primary-bg; @btn-primary-border);
}
// 常用绿色样式
.btn-success {
  .button-variant(@btn-success-color; @btn-success-bg; @btn-success-border);
}

// 链接按钮
.btn-link {
    color: @link-color;
    font-weight: normal;
    border-radius: 0;
    .transition(opacity 0.2s);
    &,
    &:active,
    &.active,
    &[disabled],
    fieldset[disabled] & {
        background-color: transparent;
        .box-shadow(none);
    }
    &,
    &:hover,
    &:focus,
    &:active {
        color: @link-color;
        border-color: transparent;
    }
    &:hover,
    //&:focus
    {
        //color: @link-hover-color;
        //color: darken(@link-color, 20%);
        //text-decoration: @link-hover-decoration;
        //background-color: transparent;
        .opacity(0.7);
    }
    &[disabled],
    fieldset[disabled] & {
        &:hover,
        &:focus {
            color: @btn-link-disabled-color;
            text-decoration: none;
        }
    }
}
