.container {
    width: @page-width;
    margin: 0 auto;
}
.header {
    height: 50px;
    background: @header-bg;
    color: @header-color;
    .box-shadow(~"0 1px 3px rgba(0,0,0,0.25)");
    a {
        color: @header-color;
        text-decoration: none;
    }
    ul {
        margin: 0;
        list-style-type: none;
        li {
            float: left;
            a {
                display: block;
                padding: 0 15px;
                line-height: 50px;
                strong {
                    margin-left: 8px;
                    font-weight: inherit;
                }
                &:hover {
                    color: #fff;
                    background-color: #333;
                }
            }
        }
    }
    & .logo {
        float: left;
        line-height: 50px;
    }
    & .nav {
        float: left;
    }
    & .search {
        float: left;
        margin-left: 10px;
        form {
            width: 190px;
            position: relative;
            margin-top: 12px;
            input {
                box-sizing: border-box;
                background-color: #333;
                border: none;
                color: #fff;
                padding: 3px 10px;
                .placeholder(~"#71767a");
            }
        }
        label {
            position: absolute;
            right: 6px;
            top: 5px;
            font-size: 12px;
            i {
                color: #696d71;
            }
        }
    }
    & .profile {
        float: right;
    }
}
.main-left {
    width: @main-left-width;
    margin-right: @main-margin;
    float: left;
    padding-top: 10px;
}
.main-right {
    width: @main-right-width;
    float: left;
}
// box
.box {
    background-color: #fff;
    box-sizing: border-box;
    border: 1px solid @box-border;
    border-radius: @box-border-radius;
    padding: 10px 0 0 10px;
    .transition(~"all 0.2s");
    &.shadow:hover {
        .box-shadow(~"0px 1px 15px rgba(0,0,0,0.08)");
    }
}
.author {
    p {
        margin: 0;
    }
    .author-cover {
        float: left;
        margin-right: 10px;
    }
    .author-info {
        overflow: hidden;
        .author-name {
            color: #525558;
            font-size: 14px;
            text-decoration: none;
            &:hover {
                color: #00aaff;
            }
        }
        .publish-tiem {
            color: #d6d6d6;
            font-size: 13px;
        }
    }
}
