
@gray-base:              #000;
@gray-darker:            lighten(@gray-base, 13.5%); // #222
@gray-dark:              lighten(@gray-base, 20%);   // #333
@gray:                   lighten(@gray-base, 33.5%); // #555
@gray-light:             lighten(@gray-base, 46.7%); // #777
@gray-lighter:           lighten(@gray-base, 93.5%); // #xeee

// btn
@btn-font-weight:            normal;     // 按钮文字是否加粗
@padding-base-vertical:      0px;        // 按钮垂直填充
@padding-base-horizantala:   10px;       // 按钮横向填充
@font-size-base:             14px;       // 按钮字体大小
@line-height-base:           38px;       // 按钮行高
@btn-border-radius-base:     3px;        // 按钮默认圆角

// primary
@btn-primary-color:          #fff;
@btn-primary-bg:             #0099e5;
@btn-primary-border:         #0088cc;
// success
@btn-success-color:          #fff;
@btn-success-bg:             #34bf49;
@btn-success-border:         #2fab41;

@btn-default-color:          #71767a;                       // 按钮默认文字颜色
@btn-default-bg:             #f7f8fa;                       // 按钮默认背景颜色
@btn-default-border:         rgba(185,193,199,0.5);         // 按钮默认边框

@link-color:                 @btn-default-color;            // 链接颜色
@link-hover-color:           darken(@link-color, 15%);
@link-hover-decoration:      none;
@btn-link-disabled-color:    @gray-light;                   // 链接按钮禁用颜色

//** Disabled cursor for form controls and buttons.
@cursor-disabled:            not-allowed;                   // 按钮禁用鼠标按钮

// input
@input-height-base:          1.4em;
@input-padding-vertical:     8px;
@input-padding-horizontal:   10px;
@input-color:                #525558;
@input-font-size:            14px;
@input-bg:                   #fff;
@input-border-radius:        @btn-border-radius-base;
@input-borderColor-focus:    #0099e5;
@input-color-placeholder:    #b9c1c7;

@input-bg-disabled:          #ebebe4;

// page
@page-width:                 1000px;

// header
@header-bg:                  #222;
@header-color:               #b9c1c7;

// main
@main-left-width:            720px;
@main-right-width:           270px;
@main-margin:                10px;

// box
@box-border:                 #eeeff2;
@box-border-radius:          @btn-border-radius-base;


//
